{% extends "admin/base.html.twig" %}
{% block title %}Novi korisnik{% endblock %}
{% block body %}
    <h2>Novi korisnik</h2>
    <hr>

    <p>templates\admin\user\create.html.twig</p>

{% endblock %}