{% extends "admin/base.html.twig" %}
{% block title %}Izbriši korisnika{% endblock %}
{% block body %}
    <h2>Izbriši korisnika</h2>
    <hr>

    <p>templates\admin\user\delete.html.twig</p>

{% endblock %}