{% extends "admin/base.html.twig" %}
{% block title %}Uredi korisnika{% endblock %}
{% block body %}
    <h2>Uredi korisnika</h2>
    <hr>

    <p>templates\admin\user\update.html.twig</p>

{% endblock %}