{% extends 'base.html.twig' %}
{% block title %}Customers{% endblock %}
{% block body %}
    <h3>templates/customers/index.html.twig</h3>
    {% if customers %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td><a href="/customers/{{ customer.id }}" class="btn btn-primary">Show</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Data</p>
    {% endif %}

{% endblock %}
