{% extends 'archive/base.html.twig' %}

{% block leftColumn %}
    {{ parent() }}
    <p>archive/stages/index left</p>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    <p>archive/stages/index right</p>
{% endblock %}