{% extends "archive/base.html.twig" %}
{% block title %}
    {{ author.fullName }}
{% endblock %}
{% block leftColumn %}
    {#{{ parent() }}#}
    <h1 class="pageTitle">{{ author.fullName  }}</h1>

{% endblock %}
{% block rightColumn %}




{% endblock %}


