{% extends 'frontend/base.html.twig' %}
{% block title %}Customers{% endblock %}
{% block body %}
    <h3>templates/customers/show.html.twig</h3>
    {% if customer %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ime</td>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{ customer.phone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ customer.email }}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p>No Data</p>
    {% endif %}

{% endblock %}
