.pageTitle{
    color: #f89406;
}
h1,h2,h3,h4,h5{
    color: #cdeff7;
}
input, textarea, select {
    background-color: #111 !important;
    color: #FFF !important;
    border-radius: 0 !important;
    border-color: #576b7a !important;
}
input:focus, textarea:focus {
    background-color: #1b1e21 !important;
    color: #FFF !important;
    border-radius: 0 !important;
    border-color: #53b013 !important;
}
.color-new{
    color: #62c462 !important;
}
.color-edit{
    color: #5bc0de !important;
}
.color-gray{
    color: #666;
}
tr.event-premiere td, tr.event-premiere td a{
    color: #6cc16c !important;
}
table td, table td a{
    color: #aaa;
}
div.form-group label{
    color: #cdeff7 !important;
}
.small{
    color: #929191;
}
.close {
    font-weight: 300 !important;
    color: #cdeff7 !important;
    text-shadow: none !important;
}

