{% extends 'frontend/leftLayout.html.twig' %}

{% block title %}Arhiva{% endblock %}
{% block leftColumn %}
    {{ parent() }}
<p>add nav here</p>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}

{% endblock %}