{% extends 'frontend/leftLayout.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block leftColumn %}
    {{ parent() }}
<p>hp/index left</p>
{% endblock %}
{% block rightColumn %}
    {{ parent() }}
    <p>hp/index right</p>
{% endblock %}