{% extends 'frontend/base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <h3>templates/frontend/homepage/index.html.twig</h3>
    <i class="far fa-bell-slash fa-7x"></i>
{% endblock %}
