{% extends "frontend/base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="col-md-3">
        <div class="container-fluid">
            <div class="row">
                {% block leftColumn %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="col-md">
        {{ include('inc/messages.html.twig') }}
        <div class="container-fluid">
            <div class="row">
                {% block rightColumn %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
