<form method="post" action="{{ path('general_event_reseravtion_delete', {'id': event.id, 'reservationId': reservation.id}) }}" onsubmit="return confirm('{{ 'label.deleteQuestion' |trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn btn-sm btn-bnp btn-outline-danger">
        {{ 'label.delete' |trans }}
    </button>
</form>
