<!DOCTYPE html>

<title>Edit Event</title>

{% block body %}
    <h1>Edit Event</h1>

    {{ include('general/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('general_event_index') }}">back to list</a>

    {{ include('general/event/_delete_form.html.twig') }}
{% endblock %}
