
<div class="row">
    <div class="container">
        {{ form(form) }}
        {#{{ form_start(form, { 'attr' : { 'class': 'form-inline-XXX' } }) }}
        {{ form_end(form) }}#}
    </div>

</div>

