<a href="{{ path(showRoute, {'id': id}) }}">
    <i class="far fa-address-card" data-toggle="tooltip" data-placement="top" title="{{ 'label.allData'|trans }}"></i>
</a>

<a href="{{ path(editRoute, {'id': id}) }}">
    <i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="{{ 'label.edit'|trans }}"></i>
</a>